<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86455304453-0qrmv4ph0rlvefqmjv0jq3nvl1eu1qm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86455304453-0qrmv4ph0rlvefqmjv0jq3nvl1eu1qm4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86455304453-atru71gr3l6er2bjlae5i72ouhrtgqb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9HPsX8x6oz_JMw8gnszvSNpjHJv_xBic</string>
	<key>GCM_SENDER_ID</key>
	<string>86455304453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ynotradio</string>
	<key>PROJECT_ID</key>
	<string>ynotradioapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ynotradioapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86455304453:ios:2aa31a30d9e56c9491776c</string>
</dict>
</plist>